In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
order_detail = pd.read_csv("data_dictionary.csv")
pizza = pd.read_csv("pizzas.csv")
pizza_order = pd.read_csv("orders.csv")
# An error occured while loading this csv, so I used a difference econding 
pizza_types = pd.read_csv("pizza_types.csv", encoding='iso-8859-1')
pizza_order_details = pd.read_csv("order_details.csv")

In [ ]:
# This is the code I used to join the csv together before analyling 
combo = pd.concat([pizza.reset_index(drop=True),
                   pizza_order.reset_index(drop=True),
                   pizza_types.reset_index(drop=True),
                   pizza_order_details.reset_index(drop=True)],axis=1)

In [13]:
# these methods were used to inspect my Data Frame
combo.info()
combo.tail()
combo.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pizza_id          96 non-null     object
 1   pizza_type_id     96 non-null     object
 2   size              96 non-null     object
 3   price             96 non-null     float64
 4   order_id          21350 non-null  float64
 5   date              21350 non-null  object
 6   time              21350 non-null  object
 7   pizza_type_id     32 non-null     object
 8   name              32 non-null     object
 9   category          32 non-null     object
 10  ingredients       32 non-null     object
 11  order_details_id  48620 non-null  int64
 12  order_id          48620 non-null  int64
 13  pizza_id          48620 non-null  object
 14  quantity          48620 non-null  int64
dtypes: float64(2), int64(3), object(10)
memory usage: 5.6+ MB

,pizza_id,pizza_type_id,size,price,order_id,date,time,pizza_type_id,name,category,ingredients,order_details_id,order_id,pizza_id,quantity
48615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48616,21348,ckn_alfredo_m,1
48616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48617,21348,four_cheese_l,1
48617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48618,21348,napolitana_s,1
48618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48619,21349,mexicana_l,1
48619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48620,21350,bbq_ckn_s,1

In [ ]:
# Total Sale 
combo["order_id"].count()

In [ ]:
# Total Reveune 
rev = combo["price"] * combo["quantity"]
# combo["price"].dtypes
rev

In [ ]:
# Total Quatity sold
combo["quantity"].sum()

In [41]:
# 4.How many pizza types do they sell

combo = combo.loc[:, ~combo.columns.duplicated(keep='first')]
combo.head()
#  This pices of code removes duplicate series but keeps the first one

,pizza_id,pizza_type_id,size,price,order_id,date,time,name,category,ingredients,order_details_id,quantity
0,bbq_ckn_s,bbq_ckn,S,12.75,1.0,2015-01-01,11:38:36,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",1,1
1,bbq_ckn_m,bbq_ckn,M,16.75,2.0,2015-01-01,11:57:40,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ...",2,1
2,bbq_ckn_l,bbq_ckn,L,20.75,3.0,2015-01-01,12:12:28,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",3,1
3,cali_ckn_s,cali_ckn,S,12.75,4.0,2015-01-01,12:16:31,The Chicken Pesto Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Spinach, Garli...",4,1
4,cali_ckn_m,cali_ckn,M,16.75,5.0,2015-01-01,12:21:30,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja...",5,1

In [30]:
# 4.	How many pizza types do they sell?
ty = combo["pizza_id"].nunique()
print(f" There are {ty} types of Pizza being sold")

 There are 96 types of Pizza being sold

In [37]:
# 5.	Find the average price of the pizzas.
aver = combo["price"].mean()
print(f"The average price of the Pizza is ${aver}")

The average price of the Pizza is $16.440625

In [42]:
# 6.	What are the peak hours of sales?

# I Combine date and time columns into a single timestamp

combo['timestamp'] = pd.to_datetime(combo['date'] + ' ' + combo['time'])

# I Now extract the hour
combo['hour'] = combo['timestamp'].dt.hour

# Then Find peak hours
hourly_sales = combo.groupby('hour')['quantity'].sum().sort_values(ascending=False)

print("Peak sales hours:")
print(hourly_sales)

Peak sales hours:
hour
12.0    2563
13.0    2507
18.0    2443
17.0    2380
19.0    2055
16.0    1960
20.0    1672
14.0    1499
15.0    1487
11.0    1252
21.0    1222
22.0     677
23.0      29
10.0       9
9.0        1
Name: quantity, dtype: int64

In [47]:
print("Peak hours are from 12:00 with 2563 sales")

Peak hours are from 12:00 with 2563 sales

In [81]:
# 7.	Find the total sales made on each day of the week. Which day of the week is when sales are made the most?
# CODE NOT WORKING AS EXPECTED 
# Extract day of week (0=Monday, 6=Sunday)

# combo['day_of_week_num'] = combo['time'].dt.dayofweek()
# combo['day_of_week_name'] = combo['time'].dt.day_name()

# # Group by day of week and sum sales
# daily_sales = combo.groupby('day_of_week_name')['quantity'].sum()

# # Sort by sales (descending)
# daily_sales_sorted = daily_sales.sort_values(ascending=False)

# print("=== TOTAL SALES BY DAY OF WEEK ===")
# for day, sales in daily_sales_sorted.items():
#     print(f"{day}: {sales:,} sales")

# # Find peak day
# peak_day = daily_sales_sorted.index[0]
# peak_sales = daily_sales_sorted.iloc[0]

# print(f"\nðŸ† PEAK SALES DAY: {peak_day} with {peak_sales:,} sales")

In [77]:
# 8.	Find the top 5 bestselling pizzas.
fr = combo.groupby("pizza_id")["price"].sum().sort_values(ascending=False).head(5)

print("=== TOP 5 BEST-SELLING ITEMS (by quantity) ===")
for rank, (product, quantity) in enumerate(fr.items(), 1):
    print(f"{rank}. {product}: {quantity:,} units sold")

=== TOP 5 BEST-SELLING ITEMS (by quantity) ===
1. the_greek_xxl: 35.95 units sold
2. the_greek_xl: 25.5 units sold
3. brie_carre_s: 23.65 units sold
4. ital_veggie_l: 21.0 units sold
5. ckn_pesto_l: 20.75 units sold

In [79]:
# 9.	Find the sales made in each month. Any trend noticeable?
# sale_trend = combo.groupby("quantity")["price"].sum()
# sale_trend
# Extract year and month
combo['year_month'] = combo['timestamp'].dt.to_period('M')
combo['year'] = combo['timestamp'].dt.year
combo['month'] = combo['timestamp'].dt.month
combo['month_name'] = combo['timestamp'].dt.month_name()

# Group by month and sum sales
monthly_sales = combo.groupby('year_month')['quantity'].sum()

print("=== MONTHLY SALES ===")
for month, sales in monthly_sales.items():
    print(f"{month}: {sales:,} sales")

# Calculate month-over-month growth
monthly_growth = monthly_sales.pct_change() * 100

print("\n=== MONTH-OVER-MONTH GROWTH ===")
for i, (month, sales) in enumerate(monthly_sales.items()):
    if i > 0:  # Skip first month (no previous data)
        growth = monthly_growth.iloc[i]
        trend = "ðŸ“ˆ" if growth > 0 else "ðŸ“‰" if growth < 0 else "âž¡ï¸"
        print(f"{month}: {sales:,} sales {trend} ({growth:+.1f}%)")
    else:
        print(f"{month}: {sales:,} sales (Baseline)")

=== MONTHLY SALES ===
2025-09: 21,756 sales

=== MONTH-OVER-MONTH GROWTH ===
2025-09: 21,756 sales (Baseline)

In [80]:
# 10.	Are there pizza types that are not doing well on the menu?
sale_trend = combo.groupby("pizza_id")["quantity"].sum()
sale_trend.max()

2